body {
  background-image: url(../assets/BackgroundIMG.jpeg);
  margin: 0;
  padding: 0;
  position: relative;

}

.nav {
  z-index: 1;
  margin: 0 auto;
  left: 0;
  padding: 0;
  width: 100%;
  position: fixed;
  background: white;
}
span {
  color: black;
}

.navlist {
  text-align: center;
  position: fixed;
  background: white;
  width: 100%;
  border-bottom: solid 1px #222;
}

.nav ul {
  display: inline-block;
  list-style-type: none;
  padding: 0px;
  margin: 0;
  position: relative;
  min-width: 150px;
  font: 16px 'Raleway', sans-serif;
}

.nav ul li {
  display: inline-block;
  color: black;
}

.nav ul li a:hover {
  border-bottom: solid 5px #ea3622;
  padding-bottom: 13px;
}

.nav ul li a,
visited {
  color: black;
  display: block;
  padding: 18px 0px 18px 0px;
  margin: 0px 25px 0px 25px;
  text-decoration: none;
}

.nav ul ul li a,
visited {
  color: black;
  display: block;
  text-decoration: none;
}

.nav ul li:hover ul {
  display: block;
}

.nav ul ul {
  font-size: 18px;
  display: none;
  position: absolute;
  background: white;
  border: solid 1px #CCC;
}

.nav ul ul li {
  text-align: left;
  display: block;
}


.article {
    padding-top: 295px;
}

h3 {
    text-align: center;
}


.logo {
    padding-left: 765px;
    padding-top: 300px;
}


